
.footer li {
  list-style-type: none;
}
.footer{
  color: black;
  font-size: 1.1rem;
  
}
.footer a i:last-child{
  color: red;
}
.footer a{
  color: grey;
}
.footer a i:hover{
  color: black;
}

.jumbotron {
  height: 50vh;
 
  background-repeat: no-repeat;

  background-position:center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://img.jakpost.net/c/2019/09/26/2019_09_26_80058_1569468462._large.jpg');;
  color: whitesmoke;
}